.title {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    color: #ffffff;
}
.subtitle {
    color: #ffffff;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 36px;
    margin-top: 50px;
}
.listItems {
    color: #ffffff;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 30px;
}
#night-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://jwhendershott.github.io/DateNight/site-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}
#brewery-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://jwhendershott.github.io/DateNight/brewer-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}
#events-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://jwhendershott.github.io/DateNight/concert-background.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}
.buttons {
    margin-top: 50px;
    padding-bottom: 50px;
}
.breweryCard {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 365px;
    font-size: 24px;
}
.eventCard {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 365px;
    font-size: 24px;
}
.footer {
    padding: 25px;
}
.center {
    display: flex;
    justify-content: center;
}
.button {
    width: 350px;
}
.container {
    padding-bottom: 10px;
}