.title {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    color: #ffffff;
}
.subtitle {
    color: #ffffff;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 36px;
    margin-top: 50px;
}
#night-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://jwhendershott.github.io/DateNight/site-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}
#brewery-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://jwhendershott.github.io/DateNight/brewery-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}
.buttons {
    margin-top: 50px;
    padding-bottom: 200px;
}
.footer {
    padding: 25px;
}

.center {
    display: flex;
    justify-content: center;
}

.left-button {
    margin-right: 25px;
}

.right-button {
    margin-left: 25px;
}

.button {
    width: 250px;
}