#title {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    color: #ffffff;
}
.subtitle {
    color: #ffffff;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 36px;
    margin-top: 50px;
}
.listItems {
    color: #ffffff;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 30px;
}
body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://jwhendershott.github.io/NightOut/site-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}
.buttons {
    margin-top: 50px;
    padding-bottom: 50px;
}
.infoCard {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 380px;
    font-size: 24px;
}
#event-url{
    font-size: 24px;
    font-family: serif;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 250px;
}
.footer {
    padding: 25px;
}
.center {
    display: flex;
    justify-content: center;
}
#searchButton {
    width: 350px;
}
.container {
    padding-bottom: 10px;
}
#alertInput {
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 22px;
}
#map {
    width: 100%; 
    padding: 150px;
}